@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
}

<main>
    <h1>@ViewData["Title"]</h1>

    <p><strong>Data de Vigência: 02/11/2023</strong></p>

    <p>A <strong>Gamer Gear</strong> (doravante "nós", "nossa" ou "a Empresa") está empenhada em proteger a privacidade dos nossos clientes e visitantes do site. Esta Política de Privacidade descreve como coletamos, usamos, divulgamos e protegemos as informações pessoais que você nos fornece. Ao utilizar o nosso site ou os nossos serviços, você concorda com as práticas descritas nesta política.</p>

    <h4>1. Informações que Coletamos</h4>
    <p><strong class="privacy-subtopic">1.1. Informações Pessoais:</strong> Coletamos informações pessoais, como nome, endereço de e-mail, endereço de entrega, número de telefone e informações de pagamento ao fazer compras em nosso site ou ao se inscrever para receber notificações.</p>
    <p><strong class="privacy-subtopic">1.2. Informações de Uso:</strong> Coletamos informações sobre como você usa o nosso site, incluindo dados de acesso, como endereços IP, histórico de navegação, informações do dispositivo e informações sobre interações com o site.</p>

    <h4>2. Como Usamos Suas Informações</h4>
    <p><strong class="privacy-subtopic">2.1. Processamento de Pedidos:</strong> Utilizamos as informações pessoais fornecidas para processar e entregar pedidos, fornecer suporte ao cliente e notificá-lo sobre o status do seu pedido.</p>
    <p><strong class="privacy-subtopic">2.2. Marketing e Comunicações:</strong> Podemos enviar comunicações de marketing e promoções, mas você pode optar por não recebê-las a qualquer momento.</p>
    <p><strong class="privacy-subtopic">2.3. Melhorias no Site:</strong> Utilizamos informações de uso para melhorar a funcionalidade do site, personalizar a experiência do usuário e monitorar o desempenho.</p>

    <h4>3. Compartilhamento de Informações</h4>
    <p>Não vendemos, alugamos ou divulgamos suas informações pessoais a terceiros, exceto quando necessário para fornecer nossos serviços, cumprir obrigações legais ou proteger nossos direitos.</p>

    <h4>4. Segurança das Informações</h4>
    <p>Adotamos medidas de segurança para proteger suas informações pessoais contra acesso não autorizado e uso indevido.</p>

    <h4>5. Seus Direitos</h4>
    <p>Você tem o direito de acessar, corrigir, atualizar ou excluir suas informações pessoais. Para exercer esses direitos, entre em contato conosco.</p>

    <h4>6. Alterações nesta Política de Privacidade</h4>
    <p>Podemos atualizar esta política de privacidade periodicamente. Recomendamos revisitar esta página regularmente para ficar informado sobre quaisquer alterações.</p>

    <h4>7. Contato</h4>
    <p>Se tiver alguma dúvida sobre esta política de privacidade ou sobre suas informações pessoais, entre em contato conosco em <strong>contato@gamergear.com.br</strong>.</p>
    <p>Ao utilizar nosso site, você concorda com os termos desta Política de Privacidade. Esta política está sujeita a revisões e alterações, por isso, recomendamos revisá-la regularmente.</p>

    <p><strong>Última Atualização: 02/11/2023</strong></p>
</main>

