@page
@model GamerGearAppWeb.Pages.QuemSomosModel
@{
    ViewData["Title"] = "Quem Somos";
}

<main>
    <h1>Quem Somos</h1>

    <h4>Bem-vindo à Gamer Gear - Seu Destino para o Mundo Gamer!</h4>
    <p>Na Gamer Gear, somos apaixonados por games e queremos garantir que sua experiência gamer seja a melhor possível. Somos um fornecedor confiável de periféricos e acessórios de alta qualidade, projetados especificamente para atender às necessidades dos gamers mais exigentes.</p>
    <img src="~/img/loja.jpeg" id="img-loja"/>

    <h4>Por que Escolher a Gamer Gear?</h4>
    <p><strong>Produtos de Qualidade:</strong> Nossos periféricos e acessórios são cuidadosamente selecionados para oferecer desempenho e durabilidade excepcionais. Cada produto é testado e aprovado por nossa equipe de especialistas gamers.</p>
    <p><strong>Variedade de Produtos:</strong> Oferecemos uma ampla gama de produtos, desde teclados mecânicos e mouses de alta precisão até headsets imersivos e cadeiras ergonômicas. Independentemente do seu estilo de jogo, temos algo para você.</p>
    <p><strong>Preços Competitivos:</strong> Acreditamos que todos devem ter acesso a equipamentos de alta qualidade, por isso trabalhamos duro para manter nossos preços competitivos, garantindo que você obtenha o melhor valor pelo seu dinheiro.</p>
    <p><strong>Atendimento ao Cliente Excepcional:</strong> Nossa equipe de suporte está sempre à disposição para responder a suas perguntas e ajudá-lo a encontrar o produto perfeito. A satisfação do cliente é a nossa prioridade número um.</p>
    <p><strong>Entrega Rápida:</strong> Com envio rápido e eficiente, você receberá seus produtos no conforto da sua casa o mais rápido possível, para que possa começar a jogar sem demora.</p>

    <h4>Explore o Mundo Gamer Conosco</h4>
    <p>Na Gamer Gear, entendemos que o mundo gamer é repleto de paixão, criatividade e desafios. Queremos fazer parte da sua jornada, fornecendo os periféricos e acessórios necessários para elevar sua experiência de jogo a um novo patamar. Seja você um jogador casual ou um profissional competitivo, estamos aqui para apoiar sua paixão por jogos.</p>
    <p>Navegue em nossa loja online e descubra o melhor em periféricos e acessórios gamer. Se tiver alguma dúvida ou precisar de orientação, não hesite em entrar em contato com nossa equipe de suporte. Estamos ansiosos para ajudar você a aprimorar sua configuração gamer e aprimorar sua diversão!</p>
    <p><strong>Junte-se à Gamer Gear e leve sua experiência gamer a um novo nível. Prepare-se para uma jogabilidade extraordinária com nossos produtos de alta qualidade. Seu sucesso nos jogos começa aqui.</strong></p>
</main>

