@page
@model GamerGearAppWeb.Pages.Marcas.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Excluir</h1>

<h5 id="confirma-exclusao">Tem certeza que deseja excluir este item?</h5>
<div>
    <h4>Marca</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca.Descricao)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Marca.MarcaId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar para lista</a>
    </form>
</div>
